* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Courier New', Courier, monospace;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	position: relative;
	cursor: pointer;
	padding: 24px 35px;
	font-size: 24px;
	border: 0;
	outline: none;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
}

.btn::before {
	content: '';
	opacity: 0.95;
	position: absolute;
	top: -50%;
	left: -150%;
	width: 200%;
	height: 60%;
	background-color: #fff;
	transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.btn:hover:before {
	left: 100%;
}
